$squareSize: 30px;

body {
    display: flex;
    align-items: center;
    justify-conent: center;
    flex-direction: column;
    background-color: rgba(230, 230, 230, 1);

    // background: url("img/icon.png") no-repeat;
    // background-size: 10%;
    // background-position: 97% 97%;
}

container {
    display: flex;
    align-items: center;
    justify-conent: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-size: 1rem;
    }

    nav {
        ul {
            padding: 0;

            li {
                display: inline-block;
                font-size: 2em;
            }
        }
    }
}

hr {
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 3px auto;
    width: 95%;
}

.main {}

.mainColors {
    display: flex;
    align-items: center;
    justify-content: center;
}

.variations {
    display: flex;
    flex-direction: row;
}

.colorset {
    display: flex;
    flex-direction: column;
}

.square {
    background: #fff;
    width: $squareSize;
    height: $squareSize;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
    text-align: center;
    overflow: hidden;
    font-size: 8px;
    color: #000;
    text-shadow: none;
    font-weight: bold;
}

.color {
    @extend .square;

    font-weight: 300;
    text-shadow: 0 1px 1px transparentize(#000, 0.4);
    color: #fff;
    transition: all 300ms;
    cursor: pointer;
    box-shadow: 0 1px 2px #ccc;

    &:hover {
        transform: scale(1.15);
    }

    &:active {
        transform: scale(0.95);
    }
}

.sideBar {
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 10px;

    .color {
        color: #000;
        cursor: default;
        text-shadow: none;
        font-weight: bold;
    }
}